/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* ============================================================================== */
/* HTML5 display-role reset for older browsers */
/* ============================================================================== */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

* {
	scroll-behavior: smooth;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	font-family: 'Work Sans';
	font-size: 14px;
	background: #FFFEF8;
}

header {
	display: flex;
	justify-content: space-between;
	max-width: 1140px;
	margin: 50px auto;
	user-select: none;
}

section {
	margin: 50px 0;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
	cursor: default;
	gap: 7px;

}

header a {
	text-decoration: none;
}

header a h1:hover {
	cursor: pointer;
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 0.1em;
	text-transform: uppercase;

}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

nav ul {
	display: flex;
	gap: 50px;
	align-items: center;
	list-style-type: none;

}

nav li {
	font-size: 1.2em;
	font-weight: 500;
}

nav li i {
	color: #00184A;
}

li:hover {
	color: #B1663C;
	cursor: default;
}

.gestion {
	background: black;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 15;
	top: 0;
	left: 0;
}

.gestion-gap {
	margin: 100px auto;
}

.bloc-gestion {
	background: none;
	border: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 115px;
	color: white;
	user-select: none;
}

.bloc-gestion i {
	color: white;
}

#introduction {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 150px auto;
	max-width: 1140px;
}

#introduction figure {
	display: flex;
	justify-content: center;
	width: 50%;
}

#introduction img {
	display: block;
	width: 80%;
}

#introduction article {
	width: 35%;
}

#introduction h2 {
	margin-bottom: 1em;
}

#pres-gap {
	display: flex;
	flex-direction: column;
	gap: 20px;
	font-size: 13.5px;
	letter-spacing: 0.04em;
}

#portfolio {
	max-width: 1140px;
	margin: auto;
	margin-bottom: 50px;
}

#portfolio h2 {
	text-align: center;
}

.MyProject {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

.MyProject button {
	color: black;
	background: none;
	border: none;
	font-size: 1em;
}

.MyProject button:hover {
	color: rgba(0, 0, 0, 0.712);
	cursor: pointer;
}

.MyProject button i {
	color: black;
}

#filtres {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	max-width: 1140px;
	margin: 50px auto;
}

#filtres button {
	padding: 10px 15px;
	border-radius: 25px;
	border: 1px solid #1D6154;
	color: #1D6154;
	background: none;
	font-family: 'syne';
	font-size: 16px;
	font-weight: 600;
	transition: 0.3s ease;
}

#filtres button:nth-child(-n+2) {
	padding: 10px 30px;
}

#filtres button:hover {
	cursor: pointer;
}

.filtre-Selected {
	background: #1D6154;
	color: white;
}

.gallery {
	width: 100%;
	max-width: 860px;
	margin: 50px auto;
	display: grid;
	grid-template-columns: 0.9fr 0.9fr 0.9fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery figure figcaption {
	margin: 5px 0;
}

.gallery img {
	width: 100%;

}

#contact {
	max-width: 450px;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact p {
	font-size: 16.5px;
}

#contact form {
	text-align: left;
	margin-top: 0px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	padding: 0 15px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact input:focus {
	outline: 3px solid #B1663C;
}

#contact label {
	margin: 2em 0 1em 0;
	font-weight: 600;
	color: #555554;
}

#contact textarea {
	border: none;
	padding: 15px;
	font-size: 1.2em;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact textarea:focus {
	outline: 3px solid #B1663C;
}


.error {
	color: red;
	display: none;
}

.login {
	max-width: 450px;
	margin: 10% auto;
}

.login>* {
	text-align: center;

}

.login h2 {
	margin-bottom: 20px;
}

.login p {
	font-size: 16.5px;
}

.login form {
	text-align: left;
	margin-top: 0px;
	display: flex;
	flex-direction: column;
}

.login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	padding: 0 15px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.login input:focus {
	outline: 3px solid #B1663C;
}

#contact-submit {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
}

.btn-connect-base {
	outline: none;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #A7A7A7;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	transition: 0.4s ease;
}

.btn-connect {
	outline: none;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	cursor: pointer;
	transition: 0.4s ease;
}

.login label {
	margin: 2em 0 1em 0;
	font-weight: 600;
	color: #555554;
}

.login textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.login form a {
	margin: auto;
	color: #555554;
	font-weight: 600;
}

footer {
	display: flex;
	align-items: center;
	justify-content: end;
	width: 100%;
	height: 60px;
	background: white;
}

.footer-login {
	position: absolute;
	bottom: 0;
	left: 0;
}

footer ul {
	display: flex;
	justify-content: flex-end;
	margin-right: 200px;
}

footer ul li {
	font-weight: 400;
	font-size: 15px;
}

/* ============================================================================== */
/* ----------------- Modal ---------------- */
/* ============================================================================== */

.modal {
	display: none;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100dvh;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	background-color: rgba(112, 112, 112, 0.7);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
}

.bloc-modal {
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 50px;
	width: 29%;
	height: 650px;
	background: white;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	border-radius: 20px;
}

.bloc-modal nav {
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
	align-items: center;
	margin-bottom: 10px;
}

.bloc-modal nav i {
	color: black;
	transition: 0.3s ease;
}

.bloc-modal nav i:hover {
	cursor: pointer;
	filter: opacity(0.5);
}

.bloc-project-modal {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 30px 13px;
	width: 78%;
	margin: 25px auto;
	overflow-y: scroll;
}

.bloc-project-modal figure {
	width: 90px;
	height: 120px;
}

.bloc-project-modal figure img {
	height: 120px;
	width: 100%;
}

.project-modal {
	position: relative;
	z-index: 40;
	background: black;
	border: none;
	border-radius: 5px;
	bottom: 117px;
	right: -65px;
	width: 20px;
	height: 20px;
	transition: 0.3s ease;
	margin: 0;
}

.project-modal:hover {
	cursor: pointer;
	filter: brightness(1.3);
}

.project-modal i {
	color: white;
	font-weight: 500;
	margin-left: -1.5px;
}

.bottom-bloc-modal {
	border-top: 2px solid rgba(201, 201, 201, 0.822);
	width: 78%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.bottom-bloc-modal-two {
	border-top: 2px solid rgba(201, 201, 201, 0.822);
	width: 78%;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0 auto;
}

#addProject {
	width: 300px;
	padding: 10px 15px;
	border-radius: 25px;
	color: white;
	background: #1D6154;
	border: none;
	font-family: 'syne';
	font-size: 16px;
	font-weight: 600;
	margin-top: 50px;
	transition: 0.3s ease;
}

#addProject:hover {
	cursor: pointer;
	filter: brightness(1.2);
}

.ValidateButton {
	width: 300px;
	padding: 10px 15px;
	border-radius: 25px;
	color: white;
	background: #A7A7A7;
	border: none;
	font-family: 'syne';
	font-size: 16px;
	font-weight: 600;
	margin-top: 25px;
	transition: 0.3s ease;
}

.ValidateButtonTwo {
	width: 300px;
	padding: 10px 15px;
	border-radius: 25px;
	color: white;
	background: #1D6154;
	border: none;
	font-family: 'syne';
	font-size: 16px;
	font-weight: 600;
	margin-top: 35px;
	transition: 0.3s ease;
}

.ValidateButtonTwo:hover {
	cursor: pointer;
	filter: brightness(1.2);
}

.conteneurImg {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	background-color: rgb(232, 241, 246);
}

.conteneurImgScnd {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 200px;
	background-color: rgb(232, 241, 246);
}

.conteneurImg img {
	margin-top: 15px;
	margin-bottom: 10px;
	width: 25%;
	height: 100px;
	transition: 0.4s ease;
}

.conteneurImgScnd img {
	width: 35%;
	height: 100%;
	transition: 0.4s ease;
}

.AddPicModal {
	display: flex;
	justify-content: center;
	width: 200px;
	padding: 12px 0;
	border-radius: 100px;
	border: none;
	color: #3b7ca1;
	background: #B9C5CC;
	font-size: 1.3em;
	font-weight: 500;
	transition: 0.4s ease;
	user-select: none;
	cursor: pointer;
}

.AddPicModal:hover {
	filter: brightness(0.9);
}

.UnderButton {
	margin: 10px 0;
}

.bloc-project-modal-two {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 78%;
	margin: 0 auto;
	align-items: start;
}

.Title-project-modal {
	margin: 0 auto;
}

.Title-project-modal h3 {
	color: black;
	display: flex;
	justify-content: center;
	margin: 15px auto;
	margin-top: 10px;
	font-size: 2.5em;
}

.formModal {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 50px;
}

.LabelModal {
	margin: 2em 0 1em 0;
	font-weight: 600;
	color: #555554;
}

.inputModal {
	height: 50px;
	font-size: 1.2em;
	border: none;
	padding: 0 15px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	outline: none;
}

#errorLabel {
	display: flex;
	justify-content: start;
	align-items: center;
	color: red;
	margin-top: 5px;
}